
.container{
  max-width: 800px;
  margin: 0 auto;
  padding-top: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border: goldenrod solid 1rem;
  border-radius: 1rem;
  background: beige;
}
